{% include "layouts/base.twig" %} {% block content %}
<main class="flex justify-center align-center">
	<section>
		<h1>{{ msg.title }}</h1>
		<span>{{ msg.body }}</span>
	</section>
</main>

{% endblock %}
