{% include "layouts/base.twig" %} {% block content %} {# data: score_id
first_name insertion last_name score_created_at value #}

<main class="flex flex-col">
	<section>
		<h1>Datail uitslag</h1>
		<form action="{{ globals.urlRoot }}/result/update/{{ id }}" method="post">
			<label>
				Aantal punten:
				<input
					type="number"
					name="value"
					value="{{ personScores.value }}"
					max="300"
				/>
			</label>
			<input type="submit" value="Wijzig" />
		</form>
	</section>
</main>
{% endblock %}
