body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*:where(ul, form) {
	margin: 0;
	padding: 0;
}

table,
th,
td {
	border: 2px solid #bbb;
	border-collapse: collapse;
	text-align: center;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-col {
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem;
}
