body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: #000;
	color: #fff;
}

#test {
	display: none;
}

.errorForm {
	color: red;
	font-size: 0.7em;
}

table,
th,
td {
	border: 2px solid #bbb;
	border-collapse: collapse;
	text-align: center;
}

a {
	color: #fff;
	text-decoration: none;
}

.remark {
	color: red;
}

*:where(form, span) {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.p-2 {
	padding: 1em; // 1em = 16px
}

.w-full {
	width: 100%;
}
