<nav>
	<ul>
		<li><a href="{{ globals.urlRoot }}/">Home</a></li>
		<li><a href="{{ globals.urlRoot }}/result">Uitslagen</a></li>
		<li>
			<a href="{{ globals.urlRoot }}/result/players">Spelers</a>
		</li>
	</ul>
</nav>
